[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mtcnn = "*"
matplotlib = "*"
flask-restful = "*"
flask-socketio = "*"

[dev-packages]
mkdocs = "*"

[requires]
python_version = "3.8.6"
